.Toolbar {
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #703B09;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 90;
  color: white;
  box-shadow: 2px 1px 17px #703b09;
}

.Toolbar nav {
  height: 100%;
  position: relative;
}

.Logo {
  height: 100%;
}

@media (max-width: 499px) {
  .DesktopOnly {
    display: none;
  }
}

